@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --text-color: white;
  --text-color-secondary: #b17785;
  --background-color: white;
  --background-color-div: #C08E9A;
  --border-color: white;
  --border-color-secondary: #C08E9A;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.interactive-div {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  margin: auto;
}

.interactive-div:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.div-header {
  text-align: center;
  padding: 15px;
}

.div-content {
  max-height: 400px;
  /* or whatever max size fits well */
  overflow-y: hidden;
  /* Allow content to scroll within the div */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}